{% extends '::admin.html.twig' %}

{% block content %}


<div id="body_page"> 

	<div class="sidebar_page">
		<ul>
			<li><a href="{{ path('admin_confirm_users') }}"><span></span>Inscriptions à valider</a></li><br />
			<li><a href=""><span></span>Qualifications à valider</a></li><br />
			<li><a href=""><span></span>Dossiers Apprentis</a></li><br />
			<li><a href=""><span></span>Offres d'emploi</a></li><br />
			<li><a href=""><span></span>Utilisateurs</a></li><br />
			<li><a href=""><span></span>Saisir une offre d'emploi</a></li><br />
			<li><a href=""><span></span>Statistiques</a></li><br />
		</ul>
	</div>


	<div class="mainpage_page">

		<h1>Bonjour {{ user.username }} !</h1>
		<h2>Bienvenue sur l'interface d'admin</h2>

	</div>


		
		
	</div>

</div>

{% endblock %}

