{% extends '::base.html.twig' %}

{% block content %}

	<div id="body_home"> 
		<section id="bt_espaces">
		
			<a href="/login" class="bt_espace_jt">
	    		<img src="/images/bt_espace_jt.png" alt="Espace Jeunes Travailleurs" />
	    		<img class="hover" src="/images/bt_espace_jt_hov.png" alt="Espace Jeunes Travailleurs" />
	    	</a>

			<a href="/login" class="bt_espace_ent">
	    		<img src="/images/bt_espace_ent.png" alt="Espace Entreprises" />
	    		<img class="hover" src="/images/bt_espace_ent_hov.png" alt="Espace Entreprises" />
	    	</a>

			<div class="liens_jt">
				<a href="">Consulter les nouvelles offres d’emplois</a><br />
				<a href="">Consulter ou modifier mon profil</a>
			</div>
			<div class="liens_ent">
				<a href="">Déposer une nouvelle offre d’emploi</a><br />
				<a href="">Consulter les candidatures</a>
			</div>
		</section>
	</div>

{% endblock %}